.login_content{background: url('../../../assets/images/login-bg.png');background-repeat: no-repeat;background-size: cover;height: 800px;}
.login_img{display: flex;align-items: center;padding-left: 100px!important;}
.login_form{padding-top: 90px;}